<div class="container">
    <div class="contain">
        <div class="title"> Détails du capteur</div>
        <div class="block">
            <div class="item">
                <div class="title-block"> Informations complémentaires </div>
                <p> Les informations correspondantes au capteur doivent être ici </p>
            </div>
            <div class="item">
                <div class="title-block">Graphique</div>
                <img src="graph.png" class="graph" />
            </div>
        </div>
    </div>
</div>