<div class="container">
    <div class="title">Liste des objets connectés</div>
    <div class="contain">
        <div class="block">
            <div class="CapteurName">Capteur de Température</div>
            <div class="data">24°C </div>
            <div class="options">
                <div class="optionsbis">Celsius</div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <div class="optionsbis">Fahrenheit</div>
            </div>
        </div>
        <div class="block">
            <div class="CapteurName">Capteur d'humidité</div>
            <div class="data">58%</div>
        </div>
        <div class="block">

        </div>
    </div>
</div>